* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0027AF;
}

.con {
    margin: auto;
    width: 90%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 15px 0;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

ul li a {
    border-radius: 8px;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

li a:hover {
    background: #fff;
    color: black;
    padding: 14px 21px;
}

.logo {
    display: flex;
    align-items: center;
}

.h1 {
    color: white;
    font-size: 27px;
}


ul .fa-cart-shopping {
    transition: all 0.3s ease;
}

ul .fa-cart-shopping:hover {
    color: black;
    background-color: white;
    padding: 14px 21px;
}

.class-font {
    font-size: 45px;
}

.backdrop {
    background-image: url("../Images/5.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.class-about {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
}

.pa {
    font-size: 20px;
}

.pa:hover {
    color: #0027AF;
}

.bg-blue {
    background-color: rgb(168, 168, 250);
}

.vid {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
	padding: 60px 0;
}

.input-placeholder {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35%;
    margin-right: 20px;
}

.text3 {
    color: white;
    font-size: 60px;
    font-weight: 100;
}

.text4 {
    color: rgb(0, 0, 151);
    font-size: 25px;
    font-weight: 900;
    margin-top: 30px;
}

.text5 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

#placeholder {
    max-width: 100%;
    height: 9vh;
	font-size: 16px;
    border-radius: 8px;
    border: 3px solid #0027AF;
    outline: none;
    padding: 0 20px 0 20px;
}

/* .btn3 {
    padding: 15px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 9px;
	cursor: pointer;
} */
.uil{
    font-size: 45px;
    color: white;
}
.icon{
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* Contact page addition */
.icon .anchr, .btn3 {
	padding: 13px 15px;
	border:  2px solid #0027AF;
	border-radius: 5px;
	font-size: 16px;
	color: #0027AF;
	background-color: white;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	margin-top: 15px;
	transition: all ease-in 300ms;
}
.icon .anchr:hover, .btn3:hover {
	border-color: transparent;
	background-color: #0027AF;
	color: white;
}
.message-label {
	color: rgb(0, 0, 151);
	font-size: 20px;
}
form h1 {
	color: rgb(0, 0, 151);
	font-size: 30px;
}
.textarea {
	width: 100%;
	border:  2px solid #0027AF;
	height: 150px;
	margin-top: -25px;
    padding: 10px 20px;
	font-size: 16px;
	outline: none;
	border-radius: 8px;
}

